/* .carousel-item{
    height: 350px;
    object-fit: cover;
} */
/* https://pixlr.com/es/x/#editor */

.imagenAjustada{
    width: auto;
    height: 600px;
    max-height: 600px;
    object-fit: cover;
}

.logo {
    width: 150px; 
    height: 110px; 
    margin-right: 20px; 
    /* background-image: url(./imagenes_servicios/paginaArreglos-01.png);  */
    background-size: cover; 
    background-position: center;
}

.contenedor{
    height: 600px;
}