*{
   font-family: sans-serif;
   font-size: 9px;
}

body{
   margin: 2%;
   background-color: #a8dadc68;
}

.titulo{
   font-size: 25px;
   padding: 5%;
   border-radius: 10px;
   text-align: center;
   background-color: #457b9d4f;
   color: black;
}

.subtitulo{
   font-size: 15px;
   color: #070A52;
   margin-bottom: 2%;
}

.div-texto{
   border-radius: 10px;
   background-color: #576d702f;
   padding: 5px;
   margin: 10px;
}
.link-grid{
   color: white;
   font-size: 30%;
}

.link{
   color: black;
}



a:hover{
   color:red
}

.link-grid{
   font-size: 70%;
}


.grid-container{
   margin-bottom: 30px;
   justify-content: center;
   display: grid;
   grid-template-columns: 6% 6% 6% 6% 6% 4%;
   gap: 1%;
}

.grid-item{
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #0A4D68;
}

.item-punto{
   color:white
}
.item6{
   text-align: center;
   grid-area: 1/6/8/7;
   writing-mode: vertical-lr;
   background-color: rgba(34, 139, 48, 0.658)
 }


.item7{
   background-color: #0A4D68;
    grid-column-start: 1;
    grid-column-end: 6;
 }
.item8{
    background-color: rgba(255, 187, 0, 0.808);
    grid-column-start: 1;
    grid-column-end: 3;
    margin-right: -29%;
 }

.item9{
   margin-left: -29%;
    background-color: rgba(255, 187, 0, 0.808);
    grid-column-start: 4;
    grid-column-end: 6;
 }

.item10{
   background-color: rgba(255, 187, 0, 0.808);
    grid-column-start: 1;
    grid-column-end: 6;
 }

.item12{
   background-color: grey;
    grid-column-start: 1;
    grid-column-end: 6;
 }

.item13{
   background-color: #088395;
    grid-column-start: 1;
    grid-column-end: 6;
 }
