*{
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 8px;
    background-color: blueviolet;
    padding: 2em;
}
.grid-item{
    background-color: aquamarine;
    border: 1px solid blue;
    font-size: 50px;
    text-align: center;
}