.div {
    display: grid;
    background-color: rgba(128, 128, 128, 0.308);
    grid-template-columns: auto auto;
    gap: 5px;
}

.div__item {
    background-color: rgba(128, 128, 128, 0.473);
    text-align: center;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
}


.item2{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.534);
}
