body{
    background-image: url('assets/fondo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
    text-align: center;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.425);
    color: black;
    border-bottom: solid 2px black;
    font-family: 'Lilita One', cursive;
    font-size: 400%;
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.5);
}

.emoji1{
    padding-right: 100px;
}

.emoji2{
    padding-left: 100px;
}

.botonA{
    background-color: black;
    color: white;
    padding: 10px 100px 10px 100px;
    font-family: 'sans-serif';
    font-size: 20px;
    margin-right: 10px;
    border: solid 1px gray;
    border-radius: 10px;
}

.botonA:hover{
    background-color: rgba(0, 0, 0, 0.671);
}

.cuerpoTarjeta{
    width: 80%;
}
.tarjeta{
    text-align: left;
    background-image: url('assets/fontoTarjeta.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 20px;
}

.tarjeta:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 1px black;
    border: solid 1px black;
    border-radius: 5px;
}

.btnEliminar{
    margin-left: 35%;
    padding: 5px;
    font-size: 15px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 10px;
}

.btnEliminar:hover{
    background-color: rgba(0, 0, 0, 0.671);
}

.btncerrar{
    color: black;
    border: solid 1px black;
}

.formulario{
    background-color:  rgba(63, 58, 58, 0.733);
    color: white;
}