*{
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    background-color: blueviolet;
    padding: 10em;
}
.grid-item{
    background-color: aquamarine;
    border: 1px solid blue;
    font-size: 50px;
    text-align: center;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
}
