body{
    background-color: rgba(240, 255, 255, 0.637);
}

.titulo{
    background-color: rgba(128, 128, 128, 0.603);
    color : black;
   box-shadow: 0 8px 10px rgba(0, 0, 0, 0.541); 
}

b{
    font-size: 20px;
}

.input-per:focus{
    box-shadow: 0 0px 5px grey;
    border: 1px solid grey
}
