h1{
    background-color: grey;
    text-align: center;
    color: black;
    padding: 20px;
    font-size: 50px;
    box-shadow:  0 0 5px grey;
}

body{
    background-color: rgba(128, 128, 128, 0.199);
}

.tabla{
    border: solid 1px black;
}

.mi-input:focus{
    box-shadow: 0 0 5px grey;
    border: grey;
    
}

b{
    font-size: 20px;
}